* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

input {
  transition: all 0.3s ease-in-out;
}

input[type="submit"] {
  background-color: #1c1c1c;
  color: whitesmoke;
  cursor: pointer;
}

input:focus,
input:hover {
  outline: none;
  box-shadow: 0 0 10px #24327ae7;
}

.resultItem:hover {
  box-shadow: 0 0 15px #000000e7;
}

.buttonDiv {
  display: flex;
  margin: 2rem 0rem;
  align-items: center;
  justify-content: center;
}

button.startButton {
  background-color: rgb(32, 204, 32);
  padding: 1rem 2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  border-radius: 10px;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

button.stopButton {
  background-color: rgb(194, 28, 28);
  padding: 1rem 2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  border-radius: 10px;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.resultPlaceHolder {
  display: flex;
  margin: 2rem 0rem;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}
